
/* 全局样式 */
* {
	font-size: 16px;
}

/* 此处并未指定某bar的样式(若指定window.<name>#waybar */
window#waybar {
	font-family: "JetbrainsMono Nerd Font";
	background: transparent; /* waybar 整体透明 */
	border-radius: 14px; /* 圆角 */
	min-height: 0;
}

window#waybar.hidden {
	opacity: 0.2; /* 透明度 */
}

/* modules-left */
/* workspaces style */
#workspaces {
	background: #FAE3B0;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 18px;
}
#workspaces button.active {
	margin: 2px 4px 2px 4px;
	border:1px solid #ac8deb;
	border-radius: 18px;
	background: #fad076;
	color: #b762eb;

}

#mpris {
	font-family: "ComicShannsMono Nerd Font";
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 18px;
	color: #1A1426;
	background: #d6b6e0;
}
/* hyprland窗口 */
#window {
	background: yellowgreen;
	color: #05b4e4;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 18px;
}

/* modules-center */
.modules-center {
	font-family: "ComicShannsMono Nerd Font";
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 0px;
	border-radius: 18px;
	transition: none;
	color: #1A1426;
	background: #d6b6e0;
}

/* modules-right */
/* 任务栏 */
#taskbar {
	background: #5c91e0;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 10px;
}
#taskbar button.active {
	border-radius: 18px;
	margin: 2px 4px 2px 4px;
	background: #5048e8;
}
/* 托盘 */
#tray {
	background: #ebaaaa;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* 音量 */
#pulseaudio {
	background: #ea7171;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* 屏幕亮度 */
#backlight {
	background: #ea7171;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* 网络 */
#network {
	background: #ea7171;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* cpu */
#cpu {
	background: #ea7171;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* 运行内存 */
#memory {
	background: #ea7171;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* 存储 */
#disk {
	background: #ea7171;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}
/* 电量 */
#battery {
	background: #af74e0;
	color: #fbea28;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}